
*,
*:after,
*::before {
	box-sizing:border-box;
    margin:0px;
    padding:0px;
}
html,body{
	height: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	background: #ECEFF4;
	background-attachment: fixed;
	height: 100%;
	padding-top:50px;
}
.nomargin{
	margin: 0;
}
.nopadding{
	padding: 0;
}
.btn{
	font-size: 12px;
	font-weight: 600;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	outline: none!important;
	border:none;
	font-size:14px;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}
.btn-default{
	background:linear-gradient(#fff,#f5f5f5);
	border:1px solid #ddd;
	box-shadow: none;
}
.btn-primary{
	background:#2E87C1;
}
.btn i{
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 5px 0 0;
}
.header{
	background: #2E87C1;
	color: #fff;
	border-radius:0;
	-webkit-border-radius:0;
	margin:0;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.header .nav li a{
	color: #fff;
	background: none;
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}
.header .nav li a:hover,.header .nav li a:focus,.header .nav li a:active{
	color: #fff;
	background: none;
}
.header .nav li.active a{
	background: rgba(255,255,255,0.1);
	color: #fff;
}
.header .dropdown li a{
	color: #333;
}
.header .dropdown li a:hover{
	color: #111;
}
.icon-link{
	font-size: 22px;
}
.navbar-header .navbar-brand{
	font-weight: 700;
	color: #fff;
}
.navbar-header .navbar-brand:hover{
	color: #fff;
}
.navbar-header .navbar-brand i{
	color: lime;
	margin-right: 10px;
}
.header .navbar-right{
	margin-right:0px;
}
.user-link > a{
	padding: 0!important;
}
.user-link a img{
	height: 52px;
	width: auto;
}
.dropdown-menu{
	border: none;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 12px;
}
.dropdown-menu li a i{
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.dropdown-menu .divider{
	border: none;
	border-bottom: 1px dashed #eee;
	box-shadow: none;
	background: none;
}
.dropdown-menu li a{
	color: #333!important;
}
.topnav{
	background: #fff;
	padding: 10px 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	margin-bottom: 15px;
}
.topnav .btn-default{
	border: none;
	background: none;
	border-radius: 0;
}
.topnav .btn-group .btn{
	border-right: 1px dashed #ddd;
}
.topnav .btn-group .btn:last-child{
	border-right: none;
}
.panel-default{
	background: rgba(255,255,255,0.5);
	border: none;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 10px;
}
.panel-default .panel-heading{
	background: rgba(0,0,0,0.7);
	font-weight: 300;
	font-size: 16px;
	padding: 10px 15px;
	color: #fff;
}
.panel-default .panel-heading i{
	font-size: 18px;
	vertical-align: middle;
	display: inline-block;
	margin: -2px 5px 0 0;
}
.dt-bootstrap .col-sm-6,
.dt-bootstrap .col-sm-5,
.dt-bootstrap .col-sm-7{
	padding: 10px 15px 5px!important;
}
table.detail{
	border-collapse: collapse;
	width: 100%;
}
table.detail td{
	padding: 5px 0;
}
table.detail.bordered tr{
	border-bottom: 1px solid #eee;
}
table.detail.bordered tr:last-child{
	border: none;
}
table.table{
	border:1px solid #ddd;
	background:#fff;
}
table.table td{
}
table.table th{
	background:linear-gradient(#fff,#f5f5f5);
	font-size:16px;
	padding:10px!important;
	font-family: 'Rajdhani', sans-serif;
}
table.table th:after{
	bottom:0;
	top:50%;
	transform: translateY(-50%);
}
table.table thead tr:last-child th{
	border-bottom: none!important;
}
table.table .dropdown-menu{
	left:auto;
	right:0px;
	background:#333;
}
table.table .dropdown-menu a{
	color:#fff!important;
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-size:14px;
}
table.table .dropdown-menu a:hover{
	color:#fff!important;
	background:rgba(0,0,0,0.1)!important;
}
table.table .dropdown-menu .divider{
	border:none!important;
	border-bottom:1px solid rgba(255,255,255,0.1)!important;
}
td.details-control {
    background: url('../images/background/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/background/details_close.png') no-repeat center center;
}
tr.detail-info > td{
	background: rgba(0,0,0,0.4)!important;
	color: #fff;
}
tr.detail-info table td{
	background: none!important;
	border: none!important;
}
tr.detail-info .btn-view{
	margin-right: 3px;
	padding: 5px;
	color: #fff;
}
td.details table tbody tr td:first-child{
	width: 80px;
}
td.details table tbody tr td{
	padding:5px;
}
.btn-o{
	background: #C6E69C;
}
.btn-p{
	background: #FFE29C;
}
.btn-s{
	background: #B0DAEC;
}
.btn-cv{
	background: #FFAC9C;
}
.btn-il{
	background: #9DE0F5;
}
.btn-fd{
	background: #C7B7E5;
}
.btn-nc{
	background: #777777;
}
.form-control{
	border-radius: 2px!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
.modal{
    z-index: 9999!important;
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal-dialog{    
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border:none!important;
    overflow: visible!important;
}
.modal-content{
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border:none!important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3)!important;
    overflow: visible;
}
.modal-header{    
    margin:-1px 0 0;
    padding: 10px 15px;
    border:none;
	background: #2E87C1;
	color:#fff;
	border:none;
	border-radius: 0!important;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
}
.modal-header h4{
    margin:0;
    font-weight: 700;
    color: #fff;
}
.modal-header .close{
	color:rgba(255,255,255,0.5);
	text-shadow: none;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	width: 50px;
	text-align: center;
	background:rgba(0,0,0,0.1);
	opacity: 1;
	font-weight: 200;
}
.modal-backdrop.in{
	opacity: .8!important;
}
.modal-footer{
	background: #ddd;
	padding:10px;
}
.form-horizontal .control-label{
	text-align: left;
}
.pagination li a{
	margin: 0 0 0 5px!important;
	border-radius: 2px!important;
	border: 1px solid #eee;
	background: #f2f2f2;
    color: #333;
    padding: 5px 10px;
    font-size: 12px;
}
.pagination li.active a{
	background: #5DB8F1;
	border: 1px solid transparent;
}
.pagination li.active a:hover,.pagination li.active a:focus,.pagination li.active a:active{
	background: #43A8E9!important;
}
input[type="checkbox"]{
	position: relative;
	cursor: pointer;
	outline: none!important;
	border:none;
	background: none;
	display:inline-block;
}
input[type="checkbox"]:before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	top:-1px;
	left:-1px;
	width: 15px;
	height: 15px;
	background: #fff;
	border:1px solid #ddd;
	border-radius: 2px;
}
input[type="checkbox"]:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 6px;
	top:2px;
	left:1px;
	border:solid #fff;
	border-width: 0 0 2px 2px;
	transform:rotate(-90deg);
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
input[type="checkbox"]:checked:before {
	background:#333;
	border-color:#333;
}
input[type="checkbox"]:checked:after {	
	opacity: 1;
	transform:rotate(-45deg);
}
.sidebar::before{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: #fff;
	width: inherit;
	z-index: -1;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.05);
}
.page-header{
	border:none;
	background:#F6F7FB;
	padding:15px;
	margin:0px -15px 15px;
	color:#222;
	box-shadow:0px 1px 3px rgba(0,0,0,0.1);
}
.page-header h1{
	font-size:14px;
	text-transform: uppercase;
	margin:0;
	text-align: center;
}
#notification{
	position: fixed;
	top:15px;
	right:15px;
	z-index: 9999;
}
.btn-black-opaque{
	border:1px solid transparent;
	background:teal;
	color:#fff;
}
/* LOGIN STYLE */
.login-container{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow: auto;
	background:url(../images/login-bg.jpg) no-repeat center;
	background-size: cover;
}
.loginbox{
	background:#fff;
	border-radius:5px;
	width: 300px;
	margin:100px auto 0;
	display: block;
	overflow: hidden;
}
.login-heading{
	text-align: center;
	margin-top:50px;
}
.login-heading h1{
	margin:0 0 10px;
	font-weight: 200;
}
.login-heading p{
	color:#aaa;
}
.loginbox form{
	padding:30px;
}

.category-safe-content,
.category-safe-content:hover,
.category-phising,
.category-phising:hover,
.category-spam,
.category-spam:hover,
.category-contain-virus,
.category-contain-virus:hover,
.category-information-leaks,
.category-information-leaks:hover,
.category-fake-domain,
.category-fake-domain:hover,
.category-negative-content,
.category-negative-content:hover{
  color: white;
}

a.set-category{
  text-decoration:none;
}

.category-safe-content,
.category-safe-content,
.category-safe-content[disabled]:hover,
.category-safe-content:hover,
.category-safe-content:focus{
  background: #c6e69c;
}
.category-phising,
.category-phising[disabled]:hover,
.category-phising:hover,
.category-phising:focus{
  background: #ffe29c;
}
.category-spam,
.category-spam[disabled]:hover,
.category-spam:hover,
.category-spam:focus{
  background: #80daec;
}
.category-contain-virus,
.category-contain-virus[disabled]:hover,
.category-contain-virus:hover,
.category-contain-virus:focus{
  background: #ffac9c;
}
.category-information-leaks,
.category-information-leaks[disabled]:hover,
.category-information-leaks:hover,
.category-information-leaks:focus{
  background: #9de0f5;
}
.category-fake-domain,
.category-fake-domain[disabled]:hover,
.category-fake-domain:hover,
.category-fake-domain:focus{
  background: #c787e5;
}
.category-negative-content,
.category-negative-content[disabled]:hover,
.category-negative-content:hover,
.category-negative-content:focus{
  background: #777777;
}
.events-sample .category-label {
  width: 60px;
}
