.datatable-with-childrow tbody .childrow-control {
    display: inline-block;
    cursor: pointer;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:before { content: "\e079"; }
}
.datatable-with-childrow tbody .shown .childrow-control {
    &:before { content: "\e114"; }
}
